.cartItemAndPriceContainer {
    > p {
        > div {
          border-bottom: thin grey solid;
            display: flex;
            :last-child {
              margin-left: auto;
            }
        }
    }
}
.cartItemAndPriceFinalPrice {
  > p {
    display: flex;
    :last-child {
      margin-left: auto;

      font-size: large;
      font-weight: 600;

      text-decoration: underline;
    }
  }
}